name: Generate Sitemap
on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: cicirello/generate-sitemap@v1
        with:
          sitemap-format: xml
          base-url: https://starhandymanca.github.io

      - name: Commit sitemap
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add sitemap.xml
          git commit -m "Add sitemap"
          git push
